{% extends "layout.html" %}

{% block main %}
    <br> 
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" value="{{ name }}">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" value="{{ pwd }}">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password" value="{{ pwd2 }}">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}